



.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}


#section-watchlist li {
	padding: 0px;
	margin: 0px 4% 4% 0px;
	width: 160px;
}


#section-watchlist li button {
	width: 100%;
	margin-top: 10px;
}


#section-watchlist ul {
	text-align: center;
}	


.main-content {
	color: gray;
}

#section-browse {
	background: black;	
}

#section-browse form {
	margin-bottom: 2%;
}

.container-fluid {
	color: white
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}

img { 
	display:block; 
	height: auto; 
	margin-left: 3%;
	margin-right: 3%;
	max-width: 100%; 
}

#add-to-watchlist{
	width: 100%; 
}

.well {
	background-color: red;
	color: white;
	border-width: 0px;
}

#browse-carousel {
	max-width: 300px;	
	margin:auto;
}

#browse-info {
	margin:0%;
}

.carousel-inner {
	padding-left:0px;
}